@font-face {
    font-family:idroid ;
    src: url(font/idroid.otf);
}

body {
    background: url(img/background.jpg);
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

header {
    background-image: linear-gradient(rgb(42, 193, 42) 10%, rgb(6, 79, 6) 90%);
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.863);
}

header > nav {
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-image: linear-gradient(transparent 0%, transparent 90%, rgb(0, 231, 0) 90%, rgb(0, 231, 0) 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
    transition-duration: 0.5s;
}

 a:hover {
    
    border-radius: 10px;
    background-size: 100% 100%;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.968);
    position: fixed;
    visibility: hidden;
}
.modal_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bt_close {
    color: #fff;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 25px;
    border: solid 1px #fff;

}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    max-width: 650px;
    min-width: 320px;
    margin: auto;

}

footer {
    background-color: darkgreen;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
}

.box {
    background-color: rgb(116, 210, 116);
    border-radius: 7px;
    margin: 20px;
}

.final {
    background-color: darkgreen;
    color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.815)
}


h1 {
    color: darkgreen;
    margin: 20px;
    padding-top: 20px;
    font-weight: normal;
}

p {
    margin: 20px;
}

.subt {
    color: darkgreen;
    background-image: linear-gradient(to right, lightgreen, white) ;
    margin: 20px;
    font-family: idroid;
    font-weight: normal;

}

.tith {
    color: white;
}

.titulo {
    font-family: idroid;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-bottom: 20px;
    padding-top: 10px;
}

li:hover {
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
    transition: 0.2s;
    color: rgb(0, 0, 0);
    font-size: large;
}

aside {
    padding-bottom: 20px;
}

.text {
    color: black;
}

.small_img {
    width: 100%;
}

header > h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.818);
}

iframe {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}